

.header {
    height: 100vh;
    margin-bottom: 2rem;
}

.header__nav {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
        list-style: none;
        display: flex;
        color: black;
        font-size: 1.2rem;
        li {
            margin-right: 2rem;
            clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
            padding: 1rem;
            transition: all .3s;
            &:last-child {
                margin-right: 0rem;
            }

            &:hover {
                transition: all .3s;
                color: green;
                cursor: pointer;
            }
        }
    }
}

.header__hero {
    background: linear-gradient(to right bottom, rgba(25, 204, 100, 0.322), rgba(185, 160, 160, 0.356)), url(../img/singletree.jpg);
    height: 88vh;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    &__text {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        h1 {
            color: white;
            font-size: 3rem;
        }
        p {
            color: white;
            font-size: 1.3rem;
        }
    }
}