
.mission {
    height: 70vh;

    h2 {
        font-size: 4rem;
        text-align: center;
        padding: 5rem;
    }

    h3 {
        text-align: center;
        font-size: 1.5rem;
    }
}

.elements {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: .7rem;
    padding: 3rem;
    .element { 
        flex: 1;
        &:last-child {
            margin-right: 0rem;
        }
        width: 30vw;
        &__image {
            img {
                object-fit: cover;
                border-radius: 50%;
            }
        }

        &__text {
            margin-top: 1rem;
        }
    }
}


.wts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 5rem;
    grid-row-gap: 2rem;
    background: linear-gradient(to right bottom, #16af162d, rgba(209, 226, 209, 0.164)), url(../img/land.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem;
    &__element {
        display: flex;
        align-items: center;
        font-size: 1rem;
        padding: 1rem;
        color: white;
        &__image {
            img {
                border-radius: 1rem;
            }
        }
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2 {
                padding: 1rem;
            }
            p {
                padding: 2rem;
            }
        }
    }
}

.element-1 {
    grid-column: 2/ 7;
    grid-row: 1/2;
}
.element-2 {
    grid-column: 4 /9;
    grid-row: 2 / 3;
}
.element-3 {
    grid-column: 2 /7;
    grid-row: 3/4;
}